div {
    font-size: 18;
}
input{
    font-size: 20;
}

.button{
    width: 110;
    height: 40;
    padding: 10;
    background-color: lightpink;
    margin: 15;
    border-radius: 10px;
}

.button2 {

}