div{
    font-size: 22;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 25px;
    width: 500px;
    justify-content: space-between;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 25px;
}

.stamp {
    height: 50;
    margin-left: 25px;
}