@font-face {
    font-family: Kufam;
    src: url(Kufam-VariableFont_wght.ttf);
}
body {
    font-family: Kufam; 
    color: #2c3531; 
    background-color: #D1E8E2; 
    margin: 0px;
}
h1,h2,h3 {
    margin-bottom: 0px;
}

